<h1>Delete Employee Confirmation</h1>
<body >
    <div>
        Name: {{Employee.Name}}
    </div>
    <div>
        ID: {{Employee.ID}}
    </div>

    <input type="button" value="Delete" data-ng-click="FinalDelete()" />
    <input type="button" value="Return" data-ng-click="ReturnToList()" />
</body>