<h1 class="headertekst">Employee Management</h1>
<h2 class="headertekst">Edit Screen</h2>

<h4>{{errorCheck}}</h4>
<form name="userForm">
    <div>
        <div layout align="left">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name:</label>
                <input type="text" required ng-model="Employee.Name"/>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone Number:</label>
                <input required name="phone" ng-model="Employee.PhoneNumber" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />

                <div ng-messages="userForm.phone.$error" >
                    <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                </div>
            </md-input-container>
            <style>
                body[dir=rtl] .hint {
                    right: 2px;
                    left: auto;
                }
            </style>
            <md-datepicker ng-model="Employee.DOB"></md-datepicker>
        </div>
        <div layout align="left">
            <md-radio-group layout="row" class="md-block" flex-gt-sm ng-model="Employee.isMale">
                <label>Gender:</label>
                <md-radio-button value="true" ng-model="Employee.isMale">Male</md-radio-button>
                <md-radio-button value="false" ng-model="Employee.isMale">Female</md-radio-button>
            </md-radio-group>
            <md-slider-container class="md-block" flex-gt-sm>
                <label>Age:</label>
                <md-slider flex ng-model="Employee.Age" min="0" max="100" aria-label="regular slider"></md-slider> {{Employee.Age}}
            </md-slider-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email:</label>
                <input type="email" ng-model="Employee.Email" required minlength="10" maxlength="100" ng-pattern="/^.+.+\..+$/" />
                <div ng-messages="userForm.email.$error">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout align="left">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Choose Educations</label>
                <md-select ng-model="Employee.edu" multiple>
                    <md-option ng-repeat="edu in Educations" ng-value="edu">{{edu.eduType}}</md-option>
                </md-select>
            </md-input-container>

            @*<md-list-item ng-repeat="edu in Educations" >
                <p>{{edu.eduType}}</p>
                <md-checkbox class="md-secondary" ng-model="Employee.edu"></md-checkbox>
            </md-list-item>*@

            <md-input-container class="md-block" flex-gt-sm>
                <label>State</label>
                <md-select ng-model="Employee.state">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="sta in States" ng-value="sta">{{sta.state}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div align="center">
        <md-button type="submit" class="md-raised" ng-if="SharedData.value == 0" ng-click="AddEmployee()">Add</md-button>
        <md-button type="submit" class="md-raised" ng-if="SharedData.value != 0" ng-click="EditEmployee()">Update</md-button>
        <md-button type="submit" class="md-raised" ng-if="SharedData.value != 0" ng-click="DeleteEmployee(Emp.ID)">Delete</md-button>
    </div>
</form>