<h1> Show All Employees</h1>

<form name="userForm">
    <div>
        <div layout align="left">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name:</label>
                <input type="text" required/>
            </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Phone Number:</label>
                <input required name="phone" ng-model="phoney" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
                
                <div ng-messages="userForm.phone.$error" ng-if="showHints">
                    <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                </div>
            </md-input-container>
            <style>
                     /*
                * The Material demos system does not currently allow targeting the body element, so this
                * must go here in the HTML.
                */
                     body[dir=rtl] .hint {
                         right: 2px;
                         left: auto;
                     }
            </style>
            <md-datepicker ng-model="birthday"></md-datepicker>
        </div>
        <div layout align="left">
            <md-radio-group layout="row" class="md-block" flex-gt-sm>
                <label>Gender:</label>
                <md-radio-button value="1">Male</md-radio-button>
                <md-radio-button value="0">Female</md-radio-button>
            </md-radio-group>
            <md-slider-container class="md-block" flex-gt-sm>
                <label>Age:</label>
                <md-slider flex ng-model="SliderAge" min="0" max="100" aria-label="regular slider"></md-slider> {{SliderAge}}
            </md-slider-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email:</label>
                <input type="email" ng-model="emails"  required minlength="10" maxlength="100" ng-pattern="/^.+.+\..+$/"  />
                <div ng-messages="userForm.email.$error">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout align="left">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Choose Educations</label>
                <md-select ng-model="eduS" >
                    <md-option ng-repeat="edu in Educations" ng-value="edu.eduType">{{edu.eduType}}</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>State</label>
                <md-select ng-model="SState">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="sta in States" ng-value="sta">{{sta.state}}</md-option>
                </md-select>
            </md-input-container>

        </div>
    </div>
    <div align="center">
        <md-button class="md-raised" data-ng-click="Add()">Add</md-button>
        <md-button class="md-raised" data-ng-click="Edit(Emp.ID)">Update</md-button>
        <md-button class="md-raised" data-ng-click="Delete(Emp.ID)">Delete</md-button>
    </div>
</form>
<form>
    <div>
        Search By Age <input  type="number" ng-model="SearchAge"  maxlength="2"/> {{SearchAge}}
    </div>
    <div>
        Search By Name 
        <md-form-field class="example-full-width">
            <input mdInput type="text" placeholder="Full Name" ng-model="SearchName" onkeypress="return onlyAlphabets(event,this);" /> 
        </md-form-field> {{SearchName}}
    </div>
    <div>
        Search By Phone Number <input type="tel" ng-model="SearchNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/> {{SearchNumber}}
    </div>
    <div>
        Gender: <input type="radio" value="true" ng-model="SearchGen" />Male
                <input type="radio" value="false" ng-model="SearchGen" />Female
    </div>
    <div>
        Search By State <input type="text" ng-model="SearchState" onkeypress="return onlyAlphabets(event,this);" maxlength="2"/> {{SearchState}}
    </div>
    <div>
        Search By ID <input type="number" ng-model="SearchID"/> {{SearchID}}
    </div>
    <div>
        <input type="reset" value="Reset" ng-click="Reset()"/>
    </div>
</form>

<select ng-model='limit' ng-change="ResetPage()">
    <option value='5'>Show 5 per page</option>
    <option value='10'>Show 10 per page</option>
    <option value='15'>Show 15 per page</option>
    <option value='20'>Show 20 per page</option>
    <option value="100000000">ALL</option>
</select>

<table align="center" class="table table-hover">
    <thead>
        <tr>
            <th align="center">ID</th>
            <th align="center">Name</th>
            <th align="center">Email</th>
            <th align="center">Phone Number</th>
            <th align="center">Age</th>
            <th align="center">Date of Birth</th>
            <th align="center">State</th>
            <th align="center">Gender</th>
            <th align="center">Actions</th>
        </tr>
    </thead>
    
    <tbody>
        <tr data-ng-repeat="Emp in Employees | filter:{Age: SearchAge, state:{state: SearchState}, ID: SearchID, Name: SearchName, PhoneNumber: SearchNumber, isMale: SearchGen }| startFrom:currentPage*limit | limitTo: limit">
            <td align="center">{{Emp.ID}}</td>
            <td align="center">{{Emp.Name}}</td>
            <td align="center">{{Emp.Email}}</td>
            <td align="center">{{Emp.PhoneNumber}}</td>
            <td align="center">{{Emp.Age}}</td>
            <td align="center">{{Emp.DOB}}</td>
            <td align="center">{{Emp.state.state}}</td>
            <td data-ng-if="Emp.isMale == 1" align="center">Male</td>
            <td data-ng-if="Emp.isMale == 0" align="center">Female</td>
            <td align="center">
                <md-button class="md-raised" data-ng-click="ShowEmployee(Emp.ID)">Edit</md-button>
            </td>
        </tr>
    </tbody>
</table>
<button ng-disabled="currentPage == 0" ng-click="prevPage()" >Previous</button>
<button ng-disabled="currentPage >= Employees.length/limit - 1" ng-click="nextPage()">Next</button>