<h1>Show All States</h1>
<table align="center">
    <thead>
        <tr>
            <th> ID </th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="Sta in States">
            <td>{{Sta.ID}}</td>
            <td>{{Sta.state}}</td>
        </tr>
    </tbody>
</table>
<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
</div>